:host {
  display: flex;
  align-items: center;
  justify-content: center;
  .yAxisContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    // border: 1px solid red;
    .yAxis {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // border: 1px solid red;
      padding: 60px 0px;
      span {
        transform: rotate(-90deg);
      }
    }
    .xAxisContainer {
      // border: 1px solid red;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column-reverse;
      .xAxis {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:10px 10px;
        span {
          width: 100px;
        }
      }
      .row {
        width: 100%;
        height: 100px;
        display: flex;
        .col {
          cursor: pointer;
          margin-right: -1px;
          margin-bottom: -1px;
          border: 1px solid #71776a;
          height: 100px;
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0.95;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}